* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "inter", sans-serif;
}

/* Top section */

.head-section {
  display: flex;
  justify-content: space-between;

  background-color: #c3e2c2;
  align-items: center;
}

.logo {
  display: flex;
  width: 200px;
  height: auto;
  padding: 10px 10px 10px 20px;
}

.header-links {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;

  font-size: 18px;
  color: #392467;
  margin-right: 10px;
}

.header-links a {
  text-decoration: none;
  color: #392467;
  font-weight: bold;
}

.header-links a:hover {
  color: #c21292;
}

.hero {
  display: flex;
  background-color: #c3e2c2;

  padding: 80px;
  justify-content: space-evenly;
  gap: 30px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #5d3587;
}

.hero-text {
  display: flex;
  font-size: 18px;
  color: #5d3587;
  width: 400px;
  height: auto;
}
.button-1 {
  width: 100px;
  height: auto;
}

.hero-img {
  display: flex;
  width: 500px;
  height: auto;
}

.button-1 {
  background-color: #a367b1;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;

  font-size: 18px;
  color: #eaeccc;
  width: 150px;
}

.button-1:hover {
  background-color: #eaeccc;
  color: #a367b1;
}

.button-2:hover {
  background-color: #c3e2c2;
  color: #a367b1;
}

/* Middle section */

.mid-section {
  display: flex;
  background-color: #ffecd6;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 10px 80px 10px;
}

.photo-grid img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: solid 5px #dbcc95;
}

.photo-grid {
  display: flex;
  gap: 20px;
}

.text {
  text-align: center;
  color: #5d3587;
  font-size: 17px;
  width: 200px;
}

.mid-section-header h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #5d3587;
}

/* Quote Section */
.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #b6c4b6;

  padding: 100px 200px 100px 200px;
}
.author {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;

  font-size: 18px;
  font-weight: bold;
  color: #200e3a;
}

.quote-block {
  font-size: 36px;
  font-style: italic;
  font-weight: light;

  color: #38419d;
}

/* Bottom section */
.bottom-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 40px 60px 40px 60px;
  border-radius: 20px;
  background-color: #c1f2b0;
  margin: 80px 60px 80px 60px;
}

.call-to-action {
  font-size: 20px;
  font-weight: bold;
  color: #392467;
}

.sign-up-text {
  font-size: 16px;
  color: #392467;
}

.button-2 {
  background-color: #a367b1;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;

  font-size: 18px;
  color: #eaeccc;
  width: 150px;
}

/* Footer */
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  background-color: #c3e2c2;
  color: #392467;
}
